         <app-modal modalID="url">
            <p class="text-2xl font-bold" heading>Share This Music</p>

            <app-tabs-container>
                <p class="text-sm text-white mb-4">
                    Share this music with your friends and others to spread the joy!
                </p>
                
                <div class="border rounded p-2 mb-4">
                    <p class="text-white">http://localhost:4200{{ currentUrl }}</p>
                </div>
            
            </app-tabs-container>


        </app-modal>

